.buttons {
  display: flex;
  flex-direction: column;
}

button {
  width: 15%;
  margin: 10px;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

button:hover {
  background-color: lightblue;
}

button:active {
  background-color: darksalmon;
  animation-play-state: paused;
}

.highlight {
  color: red;
  margin: 0 0.5rem;
}

.reg {
  color: grey;
  margin: 0 0.5rem;
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem 0;
}

@keyframes slidein {
  from {
    margin-left: 80%;
  }

  to {
    margin-left: 5%;
  }
}
